<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jakery</title>
  <link rel="shortvut icon" href="image\logo_J.png">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/style_t.css">
  <link rel="stylesheet" type="text/css" href="css/board.css">
  <link rel="stylesheet" type="text/css" href="css/boardForm.css">
  <link rel="stylesheet" type="text/css" href="css/productDetail.css">
  <link rel="stylesheet" type="text/css" href="css/productList.css">
  <link rel="stylesheet" type="text/css" href="css/mypage.css">
  <link rel="stylesheet" type="text/css" href="css/mypage-memberForm.css">
  <link rel="stylesheet" type="text/css" href="css/mypage-cart.css">
  <link rel="stylesheet" type="text/css" href="css/mypage-buylist.css">
  <link rel="stylesheet" type="text/css" href="css/noticeDetail.css">
  <link rel="stylesheet" type="text/css" href="css/boardDetail.css">
  <link rel="stylesheet" type="text/css" href="css/secretDetail.css">
  <link rel="stylesheet" type="text/css" href="css/secretboard.css">
  <link rel="stylesheet" type="text/css" href="css/notice.css">


  <script src="https://kit.fontawesome.com/a067aa947d.js" crossorigin="anonymous"></script>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal" />
  </sec:authorize>
  <script type="text/javascript" src="/js/main.js"></script>
  <!-- <script type="text/javascript" src="/js/product.js"></script> -->
</head>

<body>
  <!-- 헤더 메뉴바 -->
  <nav class="navbar">
    <div class="navbar-list navbar-menu">
      <ul class="navbar-nav">
        <li><a class="nav-content navbar-logo" href="/"><span style="color: #ffc730;">J</span><span
              style="color: #303030;">akery</span></a></li>
        <li class="menu-item nav-item"><a class="nav-link" href="">News</a>
          <ol class="sub_menu_list">
            <li class="sub-item"><a href="">Notice</a></li>
            <li class="sub-item"><a href="">Event</a></li>
          </ol>
        </li>
        <li class="menu-item nav-item"><a class="nav-link" href="">Menu</a>
          <ol class="sub_menu_list">
            <li class="sub-item"><a href="">Bread</a></li>
            <li class="sub-item"><a href="">Desert</a></li>
            <li class="sub-item"><a href="">Baking tools</a></li>
          </ol>
        </li>
        <li class="menu-item nav-item"><a class="nav-link" href="">Board</a>
          <ol class="sub_menu_list">
            <li class="sub-item"><a href="">1 : 1</a></li>
            <li class="sub-item"><a href="/auth/freeBoard">Free</a></li>
          </ol>
        </li>
      </ul>
    </div>
    <div class="navbar-list navbar-user">

      <c:choose>
        <c:when test="${empty principal}">
          <ul class="navbar-nav">
            <li class="user-item nav-item"><a class="nav-link" href="/auth/loginForm">Login</a></li>
            <li class="user-item nav-item"><a class="nav-link" href="/auth/joinForm">Account</a></li>
            <li class="user-item nav-item search-icon"><a class="nav-link" href=""><span class="reading-glasses">
                  <span class="reading-glasses__circle"></span> <span class="reading-glasses__line"></span>
                </span></a></li>
          </ul>
        </c:when>

        <c:otherwise>
          <ul class="navbar-nav">
            <li class="user-item nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <li class="user-item nav-item"><a class="nav-link" href="">Mypage</a></li>
            <li class="user-item nav-item"><a class="nav-link" href=""><span class="reading-glasses"> <span
                    class="reading-glasses__circle"></span> <span class="reading-glasses__line"></span>
                </span></a></li>
          </ul>
        </c:otherwise>
      </c:choose>
    </div>

  </nav>
  <br />
  <div id="notice-container">
    <div class="wrapper notice-wrapper">
      <div class="boardlogo-div">
        <div>
        <h1 class="freeboard-logo"><span style="color: #ffc730;">N</span><span style="color: #303030;">OTICE</span>
        </h1>
        <div class="notice-line"></div>
      </div>
      <div class="freeboardform-btndiv">
        <c:choose>
          <c:when test="${관리자계정일때}">
            <button class="freeboard-link-btn" onclick="">글쓰기</button>
          </c:when>
        </c:choose>
      </div>
      </div>
      <div class="board-description">
        Jakery의 주요 공지가 업로드됩니다. <br>
        공지에 기재되어 있지 않아 Jakery와 관련한 문의가 필요할 경우 1:1 게시판을 이용해주시기 바랍니다.
      </div>
      <div class="board-list-title">LIST</div>
      <div class="board-div">
        <c:forEach var="freeboard" items="${freeboards.content}">
        <div>
          <ul class="board-list">
            <li class="board-item"><a href="/auth/board/${freeboard.num}" class="board-num">num</a>
            </li>
            <li class="board-item"><a href="/auth/board/${freeboard.num}" class="board-title">10개 이후로는 넘어가도록 설정</a>
            </li>
            <li class="board-item"><a href="/auth/board/${freeboard.num}" class="board-id">관리자</a>
            </li>
            <li class="board-item"><a href="/auth/board/${freeboard.num}" class="board-count">Notice</a>
            </li>
          </ul>
        </div>
        </c:forEach>
      </div>
      <ul class="pagination justify-content-center">
        <c:choose>
          <c:when test="${freeboards.first}">
            <li class="pagingbtn pagingbtn-disabled"><a class="page-link" href="?page=${freeboards.number-1}">&laquo;</a></li>
          </c:when>
          <!-- <c:otherwise>
            <li class="page-item"><a class="page-link" href="?page=${freeboards.number-1}">&laquo;</a></li>
          </c:otherwise> -->
        </c:choose>
        <li class="pagingbtn"><a class="page-link" href="?page=1">1</a></li>
        <li class="pagingbtn"><a class="page-link" href="?page=2">2</a></li>
        <li class="pagingbtn"><a class="page-link" href="?page=3">3</a></li>
        <c:choose>
          <c:when test="${freeboards.last}">
            <li class="pagingbtn pagingbtn-disabled"><a class="page-link" href="?page=${freeboards.number+1}">&raquo;</a></li>
          </c:when>
          <!-- <c:otherwise>
            <li class="page-item"><a class="page-link" href="?page=${freeboards.number+1}">&raquo;</a></li>
          </c:otherwise> -->
        </c:choose>


      </ul>
    </div>
  </div>
  <br />

  <footer id="footer">
    <div class="navbar-list navbar-menu">
      <ul class="navbar-nav">
        <li class="footer-item nav-item"><a href="">Instagram</a></li>
        <li class="footer-item nav-item"><a href="">Facebook</a></li>
        <li class="footer-item nav-item"><a href="">Youtube</a></li>
        <li class="footer-item nav-item"><a href="">KakaoTalk</a></li>
      </ul>
    </div>
    <p class="copyright">Copyright 2022. Jakery All Contents cannot be copied without permission.</p>
  </footer>

</body>

</html>