<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jakery</title>
  <link rel="shortvut icon" href="image\logo_J.png">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/style_t.css">
  <link rel="stylesheet" type="text/css" href="css/board.css">
  <link rel="stylesheet" type="text/css" href="css/boardForm.css">
  <link rel="stylesheet" type="text/css" href="css/productDetail.css">
  <link rel="stylesheet" type="text/css" href="css/productList.css">
  <link rel="stylesheet" type="text/css" href="css/mypage.css">
  <link rel="stylesheet" type="text/css" href="css/mypage-memberForm.css">
  <link rel="stylesheet" type="text/css" href="css/mypage-cart.css">
  <link rel="stylesheet" type="text/css" href="css/mypage-buylist.css">
  <link rel="stylesheet" type="text/css" href="css/noticeDetail.css">
  <link rel="stylesheet" type="text/css" href="css/notice.css">
  <script src="https://kit.fontawesome.com/a067aa947d.js" crossorigin="anonymous"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal" />
  </sec:authorize>
  <script type="text/javascript" src="/js/main.js"></script>
  <!-- <script type="text/javascript" src="/js/product.js"></script> -->
</head>

<body>
  <!-- 헤더 메뉴바 -->
  <nav class="navbar">
    <div class="navbar-list navbar-menu">
      <ul class="navbar-nav">
        <li><a class="nav-content navbar-logo" href="/"><span style="color: #ffc730;">J</span><span
              style="color: #303030;">akery</span></a></li>
        <li class="menu-item nav-item"><a class="nav-link" href="">News</a>
          <ol class="sub_menu_list">
            <li class="sub-item"><a href="">Notice</a></li>
            <li class="sub-item"><a href="">Event</a></li>
          </ol>
        </li>
        <li class="menu-item nav-item"><a class="nav-link" href="">Menu</a>
          <ol class="sub_menu_list">
            <li class="sub-item"><a href="">Bread</a></li>
            <li class="sub-item"><a href="">Desert</a></li>
            <li class="sub-item"><a href="">Baking tools</a></li>
          </ol>
        </li>
        <li class="menu-item nav-item"><a class="nav-link" href="">Board</a>
          <ol class="sub_menu_list">
            <li class="sub-item"><a href="">1 : 1</a></li>
            <li class="sub-item"><a href="/auth/freeBoard">Free</a></li>
          </ol>
        </li>
      </ul>
    </div>
    <div class="navbar-list navbar-user">

      <c:choose>
        <c:when test="${empty principal}">
          <ul class="navbar-nav">
            <li class="user-item nav-item"><a class="nav-link" href="/auth/loginForm">Login</a></li>
            <li class="user-item nav-item"><a class="nav-link" href="/auth/joinForm">Account</a></li>
            <li class="user-item nav-item search-icon"><a class="nav-link" href=""><span class="reading-glasses">
                  <span class="reading-glasses__circle"></span> <span class="reading-glasses__line"></span>
                </span></a></li>
          </ul>
        </c:when>

        <c:otherwise>
          <ul class="navbar-nav">
            <li class="user-item nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <li class="user-item nav-item"><a class="nav-link" href="">Mypage</a></li>
            <li class="user-item nav-item"><a class="nav-link" href=""><span class="reading-glasses"> <span
                    class="reading-glasses__circle"></span> <span class="reading-glasses__line"></span>
                </span></a></li>
          </ul>
        </c:otherwise>
      </c:choose>
    </div>

  </nav>
  <br />


  <div id="noticeDetail-container">
    <div class="wrapper noticeDetail-wrapper">
      <div class="notice-content">
        <div class="notice-content-item notice-content-head">
          <svg viewBox="0 0 20 20" width="15" height="10" style="fill:#fff;">
            <rect width="25" height="3"></rect>
            <rect y="8" width="25" height="3"></rect>
            <rect y="16" width="25" height="3"></rect>
          </svg>
          <a href="공지 목록으로 돌아가기" class="notice-content-title-a dummy">NOTICE</a>
            <div onclick="history.back()" class="close close1"></div>
        </div>
        <ul class="notice-content-item notice-content-title">
          <li class="boardcontent-title-item boardcontent-title">
            <!--${freeboard.title}-->제목 어쩌고 저쩌고
          </li>
          <li>
            <div class="freeDetail-btn-div">
              <sec:authorize access="hasRole('ROLE_USER')">
                <c:if test="${freeboard.users.num==principal.user.num}">
                  <a href="/board/${freeboard.num}/freeUpdateForm" class="freeboardbtn freeboardbtn-update"><i class="fa-solid fa-pencil"></i></a>
                  <button id="freeboardbtn-delete" class="freeboardbtn freeboardbtn-delete"><i class="fa-solid fa-trash"></i></button>
                </c:if>
              </sec:authorize>
              <!-- <sec:authorize access="hasAnyRole('ROLE_ADMIN')">
                <button id="freeboardbtn-delete" class="freeboardbtn freeboardbtn-update" value="${freeboard.users.num}">delete
                </button>
              </sec:authorize> -->
            </div>
          </li>
        </ul>
        <ul class="notice-content-item notice-info">
          <li class="boardcontent-title-item boardcontent-num info_group">
            <span class="info_detail">NUM : </span><span id="num" class="info_detail_content">
                <!-- ${freeboard.num} -->3
              </span>
          </li>
          <li class="boardcontent-title-item boardcontent-username info_group">
            <span class="info_detail">WRITER : </span><span class="info_detail_content">
                관리자
              </span>
          </li>
          <li class="boardcontent-title-item boardcontent-username info_group">
            <span class="info_detail">작성일 : </span><span class="info_detail_content">
                <!--${freeboard.createDate}-->2021.1.16
              </span>
          </li>

        </ul>
        <div class="notice-content-item notice-content-main">
          <!--${freeboard.content}--> 공지 자세한 내용을 입력해주세요.
          글 내용이 들어갑니다<br>
          글 내용이 들어갑니다<br>
          글 내용이 들어갑니다<br>
          글 내용이 들어갑니다<br>
          글 내용이 들어갑니다<br>
          글 내용이 들어갑니다<br>
          글 내용이 들어갑니다<br>
          
          글 내용이 들어갑니다
          <img src>
        </div>

      </div>
    </div>
  </div>


  <footer id="footer">
    <div class="navbar-list navbar-menu">
      <ul class="navbar-nav">
        <li class="footer-item nav-item"><a href="">Instagram</a></li>
        <li class="footer-item nav-item"><a href="">Facebook</a></li>
        <li class="footer-item nav-item"><a href="">Youtube</a></li>
        <li class="footer-item nav-item"><a href="">KakaoTalk</a></li>
      </ul>
    </div>
    <p class="copyright">Copyright 2022. Jakery All Contents cannot be copied without permission.</p>
  </footer>

</body>

</html>